@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<center>
    <address>
        KÜBRA KÖKEN<br />
        2.COMPUTER ENGINEERING<br />
        1205012031<br />
    </address>
    <img src="~/Image/tel.jpg" />
</center>

