@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center> <h1><img src="~/Image/bookworm.jpeg" />Bookworm Blog <img src="~/Image/foto.jpg" /></h1></center>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Bookworm Blog</h2>
        <p>
            Bookworm Blog is a sample application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Buy a Book</h2>
        <p>You can buy a book here.</p>
        <p><a class="btn btn-default" href="http://www.dr.com.tr/">Buy &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download e-book</h2>
        <p>You can download here.</p>
        <p><a class="btn btn-default" href="http://ekitap-ebook.blogspot.com.tr/">Download &raquo;</a></p>
    </div>
</div>